{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="cont">
        <div class="forms">
            <div id="page-heading">Change Password</div>
            <form method="post">
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="msg">{{message}}</div>
                    {% endfor %}
                {% endif %}

                <div class="block">Current password:</div>
                <input type="password" name="currPass" placeholder="Enter current password">
                <br>

                <div class="block">New password:</div>
                <input type="password" name="newPass1" placeholder="Enter new password">
                <br>

                <div class="block">Re-enter new password:</div>
                <input type="password" name="newPass2" placeholder="Re-enter new password">
                <br>

                <input class="form-buttons" type="submit" value = "Save">


            </form>

        </div>
    </div>
    
</body>
</html>